@media screen and (max-width: 768px) {
    *{
        font-size: 1em;
    }
    div#heading{
        width: 70%;
        font-size: 1.1em;
    }
    img#imagem{
        max-width: 90%;
    }
    #flecha{
        max-width:70px;
    }
    #botao{
        transform: translate(-70px);
    }
    #txtbtn{
        font-size: 0.8em;
    }
    p{
        max-width: 70%;
        font-size: 1em;
    }
}