@media screen and (max-width: 768px) {
    *{
        font-size: 1.1em;
    }
    div#heading{
        width: 60%;
    }
    img#imagem{
        max-width: 80%;
    }
    #flecha{
        max-width:70px;
    }
    #botao{
        transform: translate(-90px);
    }
    p{
        max-width: 60%;
        font-size: 0.8em;
    }
}